.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  background-image: url('./Lunar_Phases.jpg');
  background-position: 8% 8%;
}

.image {
  width: 800px;
  height: 50px;
}

.App-title {
  color: lightgray;
  font-size: 1.5em;
  text-align: left;
  padding-top: 60px;
  margin-top: 75px;
}

.App-intro {
  font-size: large;
}

#pic {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
