body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: url('./stars.png');
  height: 100%;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* z-index: 1; */
}
/* buttons */

.circle-button {
  background-color: black;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  box-shadow: 5px 5px;
  /* border-color: black; */
  transform: scale(1);
  transition-duration: 2s;
  outline: none !important;
}

.button-text {
  color: white;
}

.alt-button {
  /* position: absolute; */
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  /* margin: 0 auto; */
  border-radius: 50%;
  height: 80px;
  width: 80px;
  transform: scale(1);
  transition-duration: 2s;
  /* box-shadow: 5px 5px; */
  /* border-color: black; */
  /* transform: scale(4); */
  /* transition-duration: 2s; */
  /* outline: none !important; */
}

.alt-button:hover {
  box-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px gold;
  transition-duration: 2s;
  transform: scale(1.9)
}

.button-click {
  position: absolute;
  top: 13.7%;
  left: 30.5%;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  height: 600px;
  width: 600px;
  /* box-shadow: 5px 5px 5px 5px; */
  /* border-color: black; */
  /* transform: scale(4); */
  /* transition: opacity 3s; */
  transition-duration: 2s;
  tranform: opacity 1s scale(5);
  opacity: 0;
  outline: none !important;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.circle-button:hover {
  box-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px gold;
  transition-duration: 2s;
  transform: scale(1.9)
}

/* text */

.footer-text {
  opacity: .7;
  color: grey;
}

.footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  /* bottom: 0;
  width: 100$ */
}

.banner {
  padding-top: 9px;
  margin: 0px;
  display: block;
  top: 80px;
  width: 100%;
  color: white;
  background-color: gray;
  height: 30px;
  opacity: 0.3;
}

.projectTitle {
  text-align: center;
  color: lightgray;
  transition: 500ms ease-in;
}
.projectTitle:hover {
  transition: 500ms ease-in;
  color: white;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px gold;
}

.centered {
  text-align: center;
  color: lightgray;
}

.list {
  color: lightgray;
  margin: auto;
  width: 50%;
}

.list-res {
  color: lightgray;
  margin: auto;
  width: 80%;
}

.left {
  text-align: left;
  margin: auto;
  width: 70%;
}

.stack {
  color: lightgray;
  text-align: center;
  font-style: italic;
}

.summary {
  margin: auto;
  width: 50%;
  color: lightgray;
}

/* resume */

.resume {
  margin: auto;
  width: 50%;
}

.resume-tile {
  border-radius: 50%;
  margin: auto;
  width: 50%;
  background-color: "white";
  transition: 500ms ease-in;
  padding: 10px;
}

.left-res {
  text-align: left;
}

.resume-tile:hover {
  /* background-color: lightgray; */
  /* text-shadow: 1px 1px 1px white, 0 0 10px white, 0 0 3px gold; */
  transition: 500ms ease-in
}

/* react transitions */

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* images */

.coursePic {
  width: 1000px;
  height: 300px;
}

.screenshot {
  width: 900px;
  height: 500px;
}
