body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* buttons */

.circle-button {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  box-shadow: 5px 5px;
  /* border-color: black; */
  transform: scale(1);
  transition-duration: 2s;
  outline: none !important;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.circle-button:hover {
  transition-duration: 2s;
  transform: scale(2)
}


/* text */

h1{
  text-align: center
}

/* resume */

.resume {
  margin: auto;
  width: 50%;
}
